<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Simplest Example</title>
    <script src="https://unpkg.com/vue@next"></script>

    <style>
        #app {
            margin: 50px;
        }
    </style>
</head>

<body>
    <div id="app">
        <h3>Your Name: <input v-model.lazy="userData" /></h3>
        <h2 v-if="userData">Initial entry: {{ userData }}</h2>
        <h2 v-if="userData">Computed Value: {{ greeting }}</h2>
    </div>

    <script>
        const App = {
            data() {
                return {
                    userData: ''
                }
            },
            computed: {
                greeting() {
                    return `You're a monster, ${this.userData}!`
                }
            }
        }

        Vue.createApp(App).mount('#app')
    </script>
</body>

</html>